In [1]:
import os, sys
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), ".."))  # parent of notebooks_final
if PROJECT_ROOT not in sys.path:
    sys.path.insert(0, PROJECT_ROOT)

In [2]:
import pandas as pd
from berlin_housing.tasks.classification import add_affordability, top_recommendations

In [3]:
df = pd.read_csv("../data/processed/final_master_with_k4_clusters.csv")

# optional cleanup
for junk in ("Unnamed: 0", "index"):
    if junk in df.columns:
        df = df.drop(columns=junk)

In [4]:
df_aff = add_affordability(
    df,
    monthly_income_eur=3500,
    size_m2=60,
    threshold=0.30,
    mietspiegel_col="subdistrict_avg_mietspiegel_classification",
    income_col="subdistrict_avg_median_income_eur",
)

top5 = top_recommendations(
    df_aff,
    preferred_clusters=[1],
    k=5,
    relax_thresholds=(0.32, 0.35, 0.40),  # try these before broader fallbacks
)
top5

,bezirk,ortsteil,k4_cluster,aff_rent_per_m2,aff_est_monthly_rent,aff_rent_to_income,cafes,supermarket,green_space,schools,_score,_note
44,friedrichshain-kreuzberg,kreuzberg,1,11.679916,700.794979,0.174936,247,57,1041,202,-0.497564,exact_match
61,neukoelln,neukoelln,1,9.588745,575.324675,0.144763,187,68,801,136,-0.383237,exact_match
76,tempelhof-schoeneberg,schoeneberg,1,14.124841,847.490446,0.203914,148,55,857,143,-0.326086,exact_match
68,pankow,prenzlauer berg,1,16.208304,972.498270,0.205342,201,71,692,184,-0.276658,exact_match
23,friedrichshain-kreuzberg,friedrichshain,1,16.432258,985.935484,0.245415,144,50,776,111,-0.239585,exact_match

In [5]:
df["subdistrict_avg_mietspiegel_classification"].unique()

array([1.80620155, 1.52301255, 2.30612245, 1.5       , 1.69014085,
       1.91967871, 1.66666667, 1.52      , 1.46031746, 1.16666667,
       1.24226804, 1.45205479, 1.20454545, 2.19572954, 1.04      ,
       2.91891892, 1.        , 1.01834862, 1.52631579, 1.71204188,
       2.80898876, 1.65306122, 2.4173913 , 2.43870968, 2.87591241,
       2.21666667, 1.2890625 , 1.3       , 2.85436893, 2.05797101,
       1.71428571, 2.56097561, 2.52631579, 2.00806452, 1.96721311,
       2.49032258, 1.83333333, 2.38823529, 1.99082569, 2.06122449,
       2.45631068, 2.        , 1.63598326, 1.96666667, 2.1761658 ,
       1.66891892, 2.26700252, 1.94736842, 2.37430168, 1.4       ,
       1.60098522, 1.43055556, 1.30894309, 2.73655914, 1.81410256,
       1.53571429, 1.55769231, 1.26829268, 1.14718615, 1.7254902 ,
       2.23404255, 2.8490566 , 1.52808989, 2.1023622 , 1.8372093 ,
       2.40138408, 1.28776978, 1.08474576, 1.56353591, 1.68458781,
       1.94186047, 2.84693878, 1.30120482, 2.05414013, 1.25454545,
       1.06289308, 1.27196653, 1.96551724, 2.39737991, 1.84677419,
       1.73076923, 2.55208333, 1.74509804, 2.89411765, 1.67567568,
       1.09009009, 2.03932584, 2.57575758, 1.55428571, 2.73443983,
       1.39072848, 2.61904762])